:root {
    --fa-bg-light: #f9f6f1;
    --fa-common-white: #fff;
    --fa-dark-brown: #c87065;
    --fa-text-background: #f6f6f6;
    --fa-textBox-color: #999;
    --fa-common-brown: #866340;
    --fa-common-brown-2: #c8a165;
    --fa-light-brown: #a28466;
    --fa-light-brown-2: #c2a773;
    --fa-light-brown-hover: #c4af86;
    --fa-blue: #09052f;
    --fa-common-black: #070707;
    --fa-grey-color: #7f8387;
    --fa-grey: #4b4b49;
    --fa-grey-2: #a3a3a3;
    --fa-grey-light: #5b646b;
    --fa-grey-light-2: #666;
    --fa-grey-dark: #333;
    --fa-dark: #222;
    --fa-orange: #ef8b59;
}