/** ---------
 Main about us page css
 ------- **/

@use "../utils/variables";

.section-box {
    padding-top: 150px;
    padding-bottom: 120px;
}

.story-about-section {
    & .story-content .story-detail {
        padding: 80px 90px 0 55px;
        position: relative;

        @media screen and (max-width:1199px) and (min-width:992px) {
            padding: 35px 35px 0;
        }

        @media screen and (max-width:991px) and (min-width:768px) {
            padding: 10px 10px 0;
        }

        @media screen and (max-width:767px) {
            padding: 80px 50px 0;
        }


        @media (max-width:575px) {
            padding: 80px 20px 0;
        }

        &:before {
            position: absolute;
            content: '';
            background: url("/assets/img/about/hp-6-items-bg.jpg");
            top: 8.5%;
            left: -18.5%;
            width: 119.3%;
            height: 122%;
            z-index: -1;

            @media screen and (max-width:1199px) and (min-width:992px) {
                top: 3%;
                height: 110%;
            }

            @media screen and (max-width:991px) and (min-width:768px) {
                top: -10%;
                height: 125%;
            }

            @media screen and (max-width:767px) {
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        p {
            margin-bottom: 15px;
        }

        .info {
            margin-top: 60px;

            & .images {
                width: 125px;
                float: left;
                margin-top: 4px;

                @media (max-width:320px) {
                    float: none;
                    margin: 4px auto 20px;
                }
            }

            & .author {
                width: 100%;
                text-align: end;

                @media screen and (max-width:1199px) and (min-width:992px) {
                    width: 100%;
                }

                @media screen and (max-width:991px) and (min-width:768px) {
                    width: 100%
                }

                @media screen and (max-width:767px) {
                    width: 85%;
                }

                & .name {
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--fa-grey-dark);
                    padding-bottom: 4px;
                }
            }
        }

        & .special-heading {
            text-align: left;
            margin-bottom: 46px;

            &:before {
                left: 0;
                transform: translateX(0);
            }
        }
    }
}

.special-heading {
    font-size: 38px;
    font-weight: 500;
    color: var(--fa-grey-dark);
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 63px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease .1s;
    z-index: 9;
}

.gallery-about-section {
    &.section-box {
        padding-top: 50px;
    }

    & .gallery-content {
        padding: 0 7.5px;

        .images {
            margin: 0 -7.5px 15px;
            position: relative;

            & .overlay {
                background: rgba(0, 0, 0, .2);
            }

            &:hover .overlay {
                opacity: 1;
            }

            & .gallery-zoom .gallery-elements {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                cursor: pointer;
                z-index: 99;
            }
        }
    }
}

.socials ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-team-page {
    &.our-team-about.section-box {
        padding: 7px 0 118px;
    }

    & .our-team-content .our-team-detail {
        text-align: center;

        @media screen and (max-width:991px) and (min-width:576px) {
            margin-bottom: 70px;
        }

        @media (max-width:575px) {
            margin-bottom: 100px;
        }

        &:hover {
            .job {
                display: none;
            }

            .socials {
                display: block;
            }
        }

        & .member-images {
            overflow: hidden;
            cursor: pointer;
            border-radius: 50%;

            &:hover img {
                transform: scale(1.1);
            }

            img {
                border-radius: 50%;
                transition: transform .6s cubic-bezier(.25, .46, .45, .94);
            }
        }

        & .member-info {
            cursor: pointer;

            & .name {
                font-size: 20px;
                padding: 27px 0 7px;
            }

            & .job {
                font-size: 15px;
                font-weight: 400;
                color: var(--fa-grey-light-2);
                display: block;
            }

            & .socials {
                display: none;
                margin-bottom: -10px;

                a {
                    color: var(--fa-textBox-color);
                    font-size: 18px;
                    padding: 0 8px;
                    text-decoration: none;

                    &:hover {
                        color: var(--fa-grey-dark);
                    }
                }
            }
        }
    }
}