@keyframes fadeInDown {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// loading animation
@keyframes back {
    0% {
        transform: rotateZ(0deg);

    }

    20% {
        transform: rotateZ(90deg);

    }

    50% {
        transform: rotateZ(90deg);

    }

    70% {
        transform: rotateZ(0deg);

    }
}

@keyframes left {
    15% {
        transform: rotate(90deg);
    }

    40% {
        transform: rotate(90deg);
    }

    70% {
        transform: rotate(0deg);
    }
}

@keyframes right {
    15% {
        transform: rotate(-90deg);
    }

    40% {
        transform: rotate(-90deg);
    }

    70% {
        transform: rotate(0deg);
    }
}