/** ---------
 Features page css
 ------- **/

@use "../utils/variables";

.fa-title {
    font-size: 30px;
    text-transform: capitalize;
    padding-bottom: 20px;
    color: var(--fa-common-brown);
    font-weight: bold;
}

.fa-sub-title {
    font-size: 15px;
    color: var(--fa-grey-light);
    line-height: 25px;
    padding-bottom: 15px;

    @media only screen and (max-width:991px) {
        display: none;
    }
}

.hover-image {
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.7;
    }
}

.fea-img img,
.feature-img img {
    @media only screen and (min-width: 1400px) and (max-width: 5500px) {
        width: 100%;
        height: 100%;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        width: 100%;
        height: 100%;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        width: 100%;
        height: 100%;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 767px) {
        width: 100%;
        height: 100%;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
        width: 100%;
        height: 100%;
    }

    @media only screen and (min-width: 440px) and (max-width: 575px) {
        width: 100%;
        height: 100%;
    }
}

.fa-btn-shop {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--fa-common-white);
    background: var(--fa-common-brown);
    transition: 0.3s;
    text-decoration: none;
    border: none;

    &:hover {
        color: var(--fa-common-white);
        background-color: rgb(158, 117, 76);
    }

    @media (max-width: 767px) {
        padding: 0 25px;
        font-size: 13px;
    }
}

.fea-card {
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--fa-common-white);
    width: 45%;
    align-self: center;
    left: 14px;
    position: relative;
    padding: 56px 0;

    @media only screen and (min-width: 1400px) and (max-width: 1599px) {
        width: 45%;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        width: 45%;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        width: 45%;
        padding: 38px 0;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 96%;
    }

    @media (max-width: 767px) {
        width: 89%;
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
        width: 94%;
    }

    @media only screen and (min-width: 440px) and (max-width: 575px) {
        width: 93%;
    }

    &-img {
        background-color: #f5f5f5;

        p {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            padding-top: 10px;
            padding-bottom: 20px;
            margin-bottom: 0 !important;
        }
    }
}