/** ---------
 Process section css
 ------- **/

@use "../utils/variables";

.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 15px;
    color: var(--fa-grey-light);
}

.process-section img {
    height: 180px;
    margin-bottom: 20px;
}

@media only screen and (max-width:991px) {
    .process__space {
        padding-top: 30px;
    }
}