/** ---------
 Product page css
 ------- **/

@use "../utils/variables";

.widget {
    background: var(--fa-common-white) none repeat scroll 0 0;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;

    &-search {
        position: relative;

        input {
            background: var(--fa-common-white) none repeat scroll 0 0;
            height: 50px;
            margin-bottom: 0;
            padding: 0 65px 0 20px;
        }

        button {
            color: var(--fa-textBox-color);
            font-size: 18px;
            line-height: 50px;
            position: absolute;
            right: 20px;
            top: 0;
            border: none;
            background: none;
        }
    }

    &-title h4 {
        border-bottom: 2px solid var(--fa-text-background);
        color: var(--fa-common-brown-2);
        font-size: 16px;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        margin-bottom: 0;
        padding: 0 30px;
        text-transform: uppercase;
    }

    &-info {
        padding: 20px 30px;

        &.product-cat {
            padding: 15px 20px 20px 10px;
        }
    }

    &-banner .widget-info {
        padding: 15px;
        text-align: center;
    }
}

.product-cat {
    .treeview {
        padding-left: 20px;

        li {
            span {
                color: var(--fa-grey-light-2);
                display: block;
                font-size: 14px;
                line-height: 30px;
                text-transform: capitalize;
                cursor: pointer;
                transition: all .3s ease 0s;

                &:hover {
                    color: var(--fa-common-brown-2);
                }
            }

            .collapsable span {
                color: var(--fa-common-brown-2);
            }
        }
    }
}

.color-filter {
    ul {
        li {
            span.count {
                float: right;
            }

            &.active {
                a {
                    color: var(--fa-common-brown-2);
                }

                span.color {
                    outline: 1px solid #d6b98c;
                    outline-offset: 1px;
                }

                span.count {
                    color: var(--fa-common-brown-2);
                }
            }

            &:hover span.color {
                outline: 1px solid #d6b98c;
                outline-offset: 1px
            }

            a {
                color: var(--fa-grey-light-2);
                float: left;
                font-size: 14px;
                line-height: 28px;
                width: 100%;
                text-decoration: none;

                &:hover {
                    color: var(--fa-common-brown-2);
                }
            }
        }
    }
}

span.color {
    background: #ddd none repeat scroll 0 0;
    display: inline-block;
    height: 13px;
    margin-right: 20px;
    width: 13px;
    border-radius: 50px;

    &.color-1 {
        background: #ffa07a;
    }

    &.color-2 {
        background: #e9967a;
    }

    &.color-3 {
        background: #fe5858;
    }

    &.color-4 {
        background: #00b2ee;
    }

    &.color-5 {
        background: #00eeb3;
    }

    &.color-6 {
        background: #8dc63f;
    }

    &.color-7 {
        background: #c38b4b;
    }
}

.product {
    &-option {
        background: var(--fa-common-white) none repeat scroll 0 0;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    &-style-2 {
        .single-product {
            background: var(--fa-common-white) none repeat scroll 0 0;
            margin-bottom: 30px;
            padding: 15px 15px 25px;

            &:hover {
                box-shadow: none;
            }
        }

        .pro-label {
            left: 15px;
            top: 15px;

            &.new-label {
                background: var(--fa-common-brown-2) none repeat scroll 0 0;
            }

            &.sale-label {
                background: var(--fa-dark-brown) none repeat scroll 0 0;
            }
        }

        // .product-info {
        //     padding: 15px 0 0;
        // }
    }

    &-img {
        overflow: hidden;
        position: relative;

        a {
            display: block;
        }

        img {
            width: 100%;
            height: 183px;
        }
    }

    &-action {
        transition: all 0.5s ease 0s;
        display: flex;
        justify-content: flex-end;

        a {
            font-size: 15px;
            position: relative;
            background: var(--fa-common-white);
            padding: 10px;
            color: var(--fa-common-black);
            margin-left: 2%;
            text-decoration: none;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 100%;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

            &:hover{
                background: var(--fa-common-brown-2);
                color: var(--fa-common-white);
            }
        }
    }
}

.shop-tab {
    >li {
        float: left;
        margin-right: 20px;
    }

    li {
        a {
            color: var(--fa-textBox-color);
            display: block;
            font-size: 20px;

            &.active {
                color: var(--fa-common-brown-2);
            }
        }
    }
}

.pagination {
    background: var(--fa-common-white) none repeat scroll 0 0;
    display: block;
    height: 50px;
    margin: 0;
    border-radius: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    ul {
        display: inline-block;

        li {
            display: block;
            float: left;
            padding: 10px 0;

            &:hover a {
                color: var(--fa-common-brown-2);
            }

            a {
                color: var(--fa-grey-light-2);
                display: block;
                line-height: 30px;
                padding: 0 6px;
                text-decoration: none;

                &.active {
                    color: var(--fa-common-brown-2);
                }

                i {
                    color: var(--fa-grey-light-2);
                }

                i {
                    display: block;
                    font-size: 16px;
                    line-height: 30px;
                }
            }
        }
    }
}

.shop-list {
    .single-product {
        background: var(--fa-common-white) none repeat scroll 0 0;
        margin-bottom: 30px;
        padding: 15px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    // .product-img {
    //     float: left;
    //     width: 29.333%;

    //     @media (min-width: 768px) and (max-width: 991px) {
    //         width: 35%;
    //     }

    //     @media (max-width: 767px) {
    //         width: 100%;
    //     }
    // }

    // .product-info {
    //     float: left;
    //     padding: 0 15px 0 30px;
    //     width: 69.667%;

    //     @media (min-width: 768px) and (max-width: 991px) {
    //         width: 65%;
    //     }

    //     @media (max-width: 767px) {
    //         margin-top: 25px;
    //         padding: 0;
    //         width: 100%;
    //     }
    // }

    .product-description p {
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 13px;
        color: var(--fa-grey-light-2);

        @media (min-width: 768px) and (max-width: 991px) {
            margin-bottom: 25px;
        }

        @media (max-width: 767px) {
            margin-bottom: 25px;
        }
    }

    .pro-rating.floatright {
        @media (max-width: 767px) {
            float: left;
        }

        @media only screen and (min-width: 480px) and (max-width: 768px) {
            float: right;
        }
    }

    .cart-plus-minus {
        @media (max-width: 767px) {
            width: 40%;
        }
    }
}

.tab {
    &-space {
        @media (min-width: 768px) and (max-width: 991px) {
            padding-top: 40px;
        }

        @media (max-width: 767px) {
            padding-top: 40px;
        }

        @media only screen and (min-width: 480px) and (max-width: 768px) {
            padding-top: 40px;
        }
    }

    &-content>.active {
        display: block;
    }
}

.pro {
    &-rating a {
        color: var(--fa-dark-brown);
        font-size: 15px;
        line-height: 28px;
        text-decoration: none;
    }

    span {
        font-size: 14px;
        color: var(--fa-grey-light-2);
    }

    &-price {
        color: var(--fa-dark-brown);
        font-size: 15px;
        font-weight: 700;
        line-height: 28px;
    }
}

.post-title {
    a {
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 5px;
        text-decoration: none;
        color: #434343;
        font-weight: 500;

        &:hover {
            color: var(--fa-common-brown-2);
        }
    }
}

@media (max-width: 767px) {
    .product-info {
        padding-top: 20px;
    }
}

.cart-plus-minus {
    background: var(--fa-common-white) none repeat scroll 0 0;
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    width: 25%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.qtybutton {
    cursor: pointer;
    float: left;
    font-size: 20px;
    position: relative;
    width: 33.3333%;
    color: var(--fa-common-black);
}

.dec.qtybutton::before {
    right: 0;
}

.inc.qtybutton::before {
    left: 0;
}

.dec.qtybutton::before,
.inc.qtybutton::before {
    background: var(--fa-common-black);
    content: "";
    height: 14px;
    position: absolute;
    right: 0;
    top: 15px;
    width: 1px;
}

input.cart-plus-minus-box {
    background: var(--fa-common-white) none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 33.33%;
    color: var(--fa-common-black);
}

// .product-info {
//     padding: 20px 0;
// }

.fix {
    overflow: hidden;
}

.pro-label {
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 2;
    background: var(--fa-common-brown-2) none repeat scroll 0 0;
    border-radius: 5px;
    color: var(--fa-common-white);
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    text-transform: capitalize;
    font-size: 14px;
}

.single-product {
    padding-top: 15px;
    transition: all .5s ease 0s;
}

.showing {
    color: var(--fa-grey-light-2);
    font-size: 14px;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

// list view change css
.ht__cat__thumb img {
    width: 100%;
    height: 250px;
}

.category {
    overflow: hidden;
    position: relative;

    &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .product__action li:nth-child(1) {
            animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
            opacity: 1;
            transition: opacity 300ms linear 0s;
        }

        .product__action li:nth-child(2) {
            animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
            opacity: 1;
            transition: opacity 500ms linear 0s;
        }

        .product__action li:nth-child(3) {
            animation: 700ms ease-in-out 0s normal none 1 running fadeInRight;
            opacity: 1;
            transition: opacity 700ms linear 0s;
        }

        .fr__product__inner h4 a {
            color: var(--fa-common-brown-2);
        }
    }
}

.fr {
    &__hover__info {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__product__inner {
        padding: 23px;
        text-align: center;

        h4 a {
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            margin-bottom: 5px;
            text-decoration: none;
            color: #434343;
            font-weight: 500;
        }
    }

    &__pro__prize {
        display: flex;
        justify-content: center;
        margin-top: 6px;

        li {
            color: #313131;
            font-size: 16px;
            font-weight: 500;
            margin: 0 5px;

            &.old__prize {
                color: #888888;
            }
        }
    }
}

.product {
    &__action {
        display: flex;
        justify-content: center;
        flex-flow: column;

        li {
            margin: 0;
            margin-bottom: 2px;

            &:nth-child(1) {
                opacity: 0;
                transition: opacity 300ms linear 0s;
            }

            &:nth-child(2) {
                opacity: 0;
                transition: opacity 500ms linear 0s;
            }

            &:nth-child(3) {
                opacity: 0;
                transition: opacity 700ms linear 0s;
            }

            a {
                background: #fefefe none repeat scroll 0 0;
                display: inline-block;
                height: 50px;
                line-height: 50px;
                text-align: center;
                transition: all 0.4s ease 0s;
                width: 50px;
                color: var(--fa-common-brown-2);
                font-size: 18px;

                &:hover {
                    background: var(--fa-common-brown-2);
                    color: var(--fa-common-white);
                }
            }
        }
    }
}

// price change css
.price {
    &-input {
        width: 100%;
        display: flex;

        .field {
            display: flex;
            width: 100%;
            align-items: center;
            font-size: 15px;
        }
    }
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 15px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--fa-common-brown-2);
    color: var(--fa-common-brown-2);
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    margin-top: 20px;

    .progress {
        height: 100%;
        left: 25%;
        right: 25%;
        position: absolute;
        border-radius: 5px;
        background: var(--fa-common-brown-2);
    }
}

.range-input {
    position: relative;

    input {
        position: absolute;
        width: 100%;
        height: 5px;
        top: -5px;
        background: none;
        pointer-events: none;
        -webkit-appearance: none;
    }
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--fa-common-brown-2);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: var(--fa-common-brown-2);
    pointer-events: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}