@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.p-relative {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

ul {
    margin: 0px;
    padding: 0px;
}

.bg-light {
    background-color: #f9f6f1 !important;
}

.heading-banner-area {
    background: rgba(0, 0, 0, 0) url("/assets/img/bg/product.jpg") no-repeat scroll center center/cover;
}

.about-banner-area {
    background: rgba(0, 0, 0, 0) url("/assets/img/bg/about.jpg") no-repeat scroll center center/cover;
}

.overlay-bg {
    position: relative;
}

.overlay-bg::before {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

// common banner title css
.heading-banner-title h2 {
    position: relative;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    line-height: 33px;
    margin-bottom: 0;
    padding: 134px 0 101px;
    text-align: center;
    text-transform: uppercase;
}

.breadcumbs ul {
    overflow: hidden;
}

.breadcumbs li {
    color: white;
    display: inline-block;
    // float: left;
    font-size: 14px;
    font-weight: 700;
    margin-left: 38px;
    position: relative;
    text-transform: uppercase;
}

.breadcumbs li:first-child {
    margin-left: 0;
}

.breadcumbs ul li a {
    color: white;
    display: block;
    text-decoration: none;
}

.breadcumbs ul li:hover a {
    color: #c87065;
}

.breadcumbs li::after {
    color: white;
    content: "/";
    left: -22px;
    position: absolute;
    top: 0;
}

.breadcumbs li:first-child::after {
    content: "";
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background: #f6f6f6 none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #999;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 20px;
    transition: all 0.5s ease 0s;
    width: 100%;
    outline: none;
    font-size: 13px;
}

// customize scroll bar

// scroll bar
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #72747c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #866340;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a28466;
}

// preloader css
#preloader {
    background: #f9f6f1 no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.chairPiece {
    position: absolute;
    border-radius: 10px;
    top: 48vh;
    left: 48vw;
    background-color: #866340;
}

#backContainer {
    position: absolute;
    left: 0vw;
    top: 0vh;
    transform: translate(-15px);
    overflow: visible;
    height: 50px;
    width: 50px;
}

#back {
    animation: back 3s ease-in infinite;
    transform-origin: right;
    width: 55px;
    height: 5px;
}

#seat {
    width: 40px;
    height: 5px;
}

#left {
    animation: left 3s ease-in infinite .4s;
    transform-origin: left;
    width: 40px;
    height: 5px;
}

#right {
    animation: right 3s ease-in infinite .3s;
    transform-origin: right;
    width: 40px;
    height: 5px;
}