.tp-product-5 {
    &__content {
        a {
            text-decoration: none;
        }

        & span {
            color: #787981;
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;

            @media only screen and (min-width: 992px) and (max-width: 1199px),
            only screen and (min-width: 768px) and (max-width: 991px),
            (max-width: 767px) {
                font-size: 13px;
            }
        }
    }

    &__title {
        color: black;
        font-size: 21px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 0;

        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
            font-size: 19px;
        }

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            font-size: 17px;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px),
        (max-width: 767px) {
            font-size: 19px;
        }

        transition: 0.3s;

        &:hover {
            color: #866340;
        }
    }

    &__thumb {
        margin: 20px auto;
        font-size: 20px;
        color: #999;
        width: 169px;
        height: 169px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #866340;

        img {
            width: 100px;
        }
    }

    &__item {
        @media only screen and (max-width: 575px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}