.tp-product-5 {
    &__content {
        a {
            text-decoration: none;
        }

        & span {
            color: #787981;
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;

            @media only screen and (min-width: 992px) and (max-width: 1199px),
            only screen and (min-width: 768px) and (max-width: 991px),
            (max-width: 767px) {
                font-size: 13px;
            }
        }
    }

    &__title {
        color: black;
        font-size: 21px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 10px;

        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
            font-size: 19px;
        }

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            font-size: 17px;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px),
        (max-width: 767px) {
            font-size: 19px;
        }

        transition: 0.3s;

        &:hover {
            color: #866340;
        }
    }

    &__thumb {
        margin-bottom: 20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background: white;
        border-radius: 15px;

        // @media only screen and (max-width: 767px) {
        //     height: 225px;
        // }

        // @media only screen and (max-width: 575px) {
        //     width: 60%;
        //     height: 230px;
        // }

        // @media only screen and (max-width: 375px) {
        //     width: 75%;
        // }

        // @media only screen and (max-width: 320px) {
        //     width: 85%;
        // }
    }

    &__item {
        @media only screen and (max-width: 575px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}