.inner-footer {
    background: #eee;
}

@media (max-width:991px) {
    .footer-top-pb {
        padding-top: 40px;
    }
}

.footer-one {
    #tiva-copyright {
        background: #000;
        font-size: 11px;
        color: #f9f6f1;
    }

    .inner-footer {
        .block {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .block-content {
            color: #666;
            font-weight: 400;
            font-size: 13px;
            line-height: 25px;

            .contact-us {
                margin-bottom: 16px;

                .title-content {
                    margin-right: 10px;
                    display: inline-block;
                    margin-bottom: 10px;

                    i {
                        width: 10px;
                        margin-left: 1px;
                        margin-right: 16px;
                        font-size: 14px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .content-contact {
                    border-image: none;
                    border-left-color: #d5d5d5;
                    border-left-style: solid;
                    padding-left: 20px;
                    border-left-width: 1px;
                    margin-left: 7px;

                    p {
                        margin-bottom: 0;
                    }
                }
            }

            ul li a {
                color: #666;
                text-decoration: none;

                &:hover {
                    font-weight: 600;
                    color: #222;
                }
            }
        }
    }
}

.social {
    margin-bottom: 10px;

    ul li {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all 0.35s ease-in-out;
        background-color: #bfbfbf;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
}

.block-newsletter {
    margin-top: 20px;

    .input-group .input-group-btn .btn-secondary {
        padding: 8px 20px;
        color: #fff;
        border: #222;
        background: #343434;
        border-radius: 0 23px 23px 0 !important;
        height: 40px;
        font-weight: 500;
        font-size: 11px;
    }
}

.title {
    &-content span {
        color: #222;
        font-weight: 600;
    }

    &-block {
        font-weight: 600;
        margin-bottom: 16px;
        text-align: left;
        text-transform: uppercase;
        color: #222;
        font-size: 14px;
        line-height: 1.5;
    }
}