.bg-light-brown {
    background-color: #f9f3eb;
}

.heading {
    font-size: 38px;
    opacity: 0.9;

    @media screen and (min-width: 1200px) {
        font-size: 59px;
    }
}

.text__desc {
    max-width: 400px;
    font-size: 15px;
    padding: 20px 0 20px 0;
    line-height: 25px;
    color: #a3a3a3;
}

.btn-header {
    background: #c2a773;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    padding: 17px 45px;
}

@media screen and (max-width: 991px) {
    .hero__space {
        padding-top: 100px;
    }
}

// 2nd section
.bg-light-grey-color-shade {
    background: #fafafa;
}

.product__title {
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 12px;
}

.product__desc {
    font-size: 15px;
    color: #a3a3a3;
}

.line {
    height: 1px;
    width: 61px;
    background-color: #a3a3a3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.new-product-item {
    transition: all 300ms ease-in-out;
    background-color: white;
    text-align: start;

    &:hover {
        box-shadow: 0px 4px 19px -8px rgba(0, 0, 0, 0.5);
    }

    .image {
        position: relative;
        width: 100%;

        img{
            width: 100%;
        }
    }

    .badge {
        background: #c2a773;
        position: absolute;
        padding: 8px;
        width: 65px;
        display: block;
        top: 12px;
        right: 12px;
        text-align: center;
        text-transform: uppercase;
    }
}

.info {
    padding: 32px;
    text-align: start;
    background-color: white;

    &:hover .name {
        color: #c2a773;
    }

    .name {
        font-weight: 600;
        padding: 15px 0;
        margin-bottom: 0;
        cursor: pointer;
    }

    .price {
        .new {
            margin-left: 10px;
            font-weight: 600;
            color: #c2a773;
        }

        .old {
            position: relative;
            color: #a3a3a3;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 100%;
                background-color: #a3a3a3;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .ratings p {
        margin-left: 3px;
        color: #a3a3a3;
    }

    .ratings i {
        color: #c2a773;
    }
}

@media screen and (max-width: 991px) {
    .card__space {
        padding-bottom: 20px;
    }
}


// 3rd part css
.category {
    &-item {
        height: 290px;
        overflow: hidden;
        position: relative;
        transition: all 300ms ease-in-out;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        &:hover {
            .category-badge {
                left: 30px;
            }
        }
    }

    &-badge {
        position: absolute;
        left: -197px;
        bottom: 25px;
        width: 130px;
        opacity: 0.85;
        transition: all 300ms ease-in-out;
        background-color: white;
        padding: 10px;
    }
}

// 4th part css
.featured-deals-item {
    border-radius: 20px !important;
    overflow: hidden;
    transition: all 300ms ease-in-out;

    img{
        width: 100%;
    }

    &:hover {
        box-shadow: 0px 4px 19px -8px rgba(0, 0, 0, 0.5);
    }
}

// 5th part css
.bg-brown {
    background-color: #c2a773;
}

.catalog {
    &-right {
        color: white;
        padding: 10px;

        .section-title {
            margin-bottom: 32px;
            text-transform: capitalize;
        }

        .text {
            text-align: start;
        }
    }

    &-left {
        min-height: 420px;
        background: url("/assets/img/bg/catalog-left.jpg");
    }
}

// 6th part css
.newsletter-content {
    padding-top: 30px;

    .form-control {
        border: none;
        height: 60px;
        padding: 0 20px;
        outline: none;
        width: 100%;
        background: #f1f1f1;
    }

    .input-group {
        max-width: 730px;
        align-items: stretch;
        border-radius: 47px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    .btn {
        // padding: 0 56px;
        height: 60px;
        position: absolute;
        right: 0;
        color: white;
        text-transform: uppercase;
    }
}

// footer css
.footer-item {
    .text {
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    ul {
        li {
            padding: 5px 0;
            text-transform: capitalize;

            a {
                text-decoration: none;
                color: black;

                &:hover{
                    color: #c2a773;
                }
            }
        }
    }
}