.tp-product-4 {
    &__thumb img {
        width: 100%;
    }

    &__content {
        position: absolute;
        top: 40px;
        left: 25px;

        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
            top: 25px;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            top: 20px;
            left: 20px;
        }

        @media (max-width: 767px) {
            top: 20px;
            left: 20px;
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {
            top: 40px;
            left: 40px;
        }
    }

    &__content-2 {
        position: absolute;
        bottom: 40px;
        left: 25px;

        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
            bottom: 25px;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            bottom: 20px;
            left: 20px;
        }

        @media (max-width: 767px) {
            bottom: 20px;
            left: 20px;
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {
            bottom: 40px;
            left: 40px;
        }
    }

    &__title {
        color: black;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 20px;

        @media only screen and (min-width: 1200px) and (max-width: 1399px),
        only screen and (min-width: 992px) and (max-width: 1199px) {
            font-size: 16px;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px),
        (max-width: 767px) {
            font-size: 15px;
            padding-bottom: 20px;
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {
            font-size: 18px;
            padding-bottom: 40px;
        }
    }

    &__sub-title {
        color: black;
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        padding-bottom: 20px;

        @media only screen and (min-width: 1200px) and (max-width: 1399px),
        only screen and (min-width: 992px) and (max-width: 1199px) {
            font-size: 15px;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px),
        (max-width: 767px) {
            font-size: 15px;
            padding-bottom: 20px;
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {
            font-size: 18px;
            padding-bottom: 40px;
        }
    }
}

.tp-btn {
    &-brown-sm {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        font-weight: 500;
        font-size: 15px;
        text-transform: capitalize;
        color: white;
        background: #866340;
        transition: 0.3s;
        text-decoration: none;
        border: none;

        @media (max-width: 767px) {
            padding: 0 25px;
            font-size: 13px;
        }

        &:hover {
            color: black;
            background-color: white;
        }
    }

    &-white-sm {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        font-weight: 500;
        font-size: 15px;
        text-transform: capitalize;
        color: black;
        background: white;
        transition: 0.3s;
        text-decoration: none;
        border: none;

        @media (max-width: 767px) {
            padding: 0 25px;
            font-size: 13px;
        }

        &:hover {
            color: white;
            background-color: #866340;
        }
    }
}

// change css
.ht__cat__thumb img {
    width: 100%;
    height: 250px;
}

.category {
    overflow: hidden;
    position: relative;

    &:hover {
        box-shadow: 1px 25px 54px rgba(0, 0, 0, 0.12);

        .product__action li:nth-child(1) {
            animation: 300ms ease-in-out 0s normal none 1 running fadeInRight;
            opacity: 1;
            transition: opacity 300ms linear 0s;
        }

        .product__action li:nth-child(2) {
            animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
            opacity: 1;
            transition: opacity 500ms linear 0s;
        }

        .product__action li:nth-child(3) {
            animation: 700ms ease-in-out 0s normal none 1 running fadeInRight;
            opacity: 1;
            transition: opacity 700ms linear 0s;
        }

        .fr__product__inner h4 a {
            color: #c8a165;
        }
    }
}

.fr {
    &__hover__info {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__product__inner {
        padding: 23px;
        text-align: center;

        h4 a {
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            margin-bottom: 5px;
            text-decoration: none;
            color: #434343;
            font-weight: 500;
        }
    }

    &__pro__prize {
        display: flex;
        justify-content: center;
        margin-top: 6px;

        li {
            color: #313131;
            font-size: 16px;
            font-weight: 500;
            margin: 0 5px;

            &.old__prize {
                color: #888888;
            }
        }
    }
}

.product {
    &__action {
        display: flex;
        justify-content: center;
        flex-flow: column;

        li {
            margin: 0;
            margin-bottom: 2px;

            &:nth-child(1) {
                opacity: 0;
                transition: opacity 300ms linear 0s;
            }

            &:nth-child(2) {
                opacity: 0;
                transition: opacity 500ms linear 0s;
            }

            &:nth-child(3) {
                opacity: 0;
                transition: opacity 700ms linear 0s;
            }

            a {
                background: #fefefe none repeat scroll 0 0;
                display: inline-block;
                height: 50px;
                line-height: 50px;
                text-align: center;
                transition: all 0.4s ease 0s;
                width: 50px;
                color: #c8a165;
                font-size: 18px;

                &:hover {
                    background: #c8a165;
                    color: white;
                }
            }
        }
    }
}