.mt-20 {
    margin-top: 20px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.ml-10 {
    margin-left: 10px
}

.pt-10 {
    padding-top: 10px
}

.pt-40 {
    padding-top: 40px
}

.pt-55 {
    padding-top: 55px
}

.pt-80 {
    padding-top: 80px
}

.pt-90 {
    padding-top: 90px
}

.pb-10 {
    padding-bottom: 10px
}

.pb-15 {
    padding-bottom: 15px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-115 {
    padding-bottom: 115px
}